@import "../colours";

.navigation {
  background-color: $ta_papa_green;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .navigation {
    border: 1px solid red;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .navigation {
    border: 1px solid blue;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .navigation {
    border: 1px solid green;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

//.navigation {
//  background-color: $ta_papa_green;
//
//  .brand {
//    display: flex;
//    width: 220px;
//    height: 220px;
//    background-color: $carnation;
//    justify-content: center;
//    flex-direction: column;
//
//    .brand__logo {
//      display: block;
//      height: 100px;
//      background: {
//        image: url("https://assets.fnlondon.com/s3/fn/fn_logo.svg");
//        repeat: no-repeat;
//        position: 40px;
//      }
//    }
//    .brand__name {
//      color: $white;
//      text-align: left;
//      width: 140px;
//      margin: 0 auto;
//    }
//  }
//
//  .navigation__menu {
//    list-style: none;
//    padding: 50px 0 0 0;
//    .menu__item {
//      padding: 16px 0 16px 0;
//      &:hover {
//        background-color: $pickled_bluewood;
//      }
//    }
//    .menu__link {
//      color: $white;
//      text-decoration: none;
//      margin: 0 0 0 40px;
//    }
//  }
//}
