@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "../colours";

body {
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
}

.navigation {
  background-color: $ta_papa_green;

  .brand {
    display: flex;
    width: 220px;
    height: 220px;
    background-color: $carnation;
    justify-content: center;
    flex-direction: column;

    .brand__logo {
      display: block;
      height: 100px;
      background: {
        image: url("https://assets.fnlondon.com/s3/fn/fn_logo.svg");
        repeat: no-repeat;
        position: 40px;
      }
    }
    .brand__name {
      color: $white;
      text-align: left;
      width: 140px;
      margin: 0 auto;
    }
  }

  .navigation__menu {
    list-style: none;
    padding: 50px 0 0 0;
    .menu__item {
      padding: 16px 0 16px 0;
      &:hover {
        background-color: $pickled_bluewood;
      }
    }
    .menu__link {
      color: $white;
      text-decoration: none;
      margin: 0 0 0 40px;
    }
  }
}

.main__container {
  display: flex;
  flex-direction: column;
  flex: 5;
  background-color: #f4f0e9;

  .main__container__header {
    .register__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid $pickled_bluewood;
      font-size: 14px;
      background-color: #f4f0e9;

    }
    .button__container {
      margin: 0 50px 0 0;
      .button {
        margin: 0 0 0 20px;
      }
    }

    .advert {
      width: 600px;
      margin: 0 auto;
      padding: 1rem;

      img {
        width: 100%;
        height: 200px;
        margin: 0 auto;
      }
    }


  }
  .main {
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
  .main__body {
    flex: 3;
    min-height: 60vh;
    display: flex;
    justify-content: center;
    .column__one {
      margin: 0 50px 0 200px;
    }
    .column__one,
    .column__two{
      width: 350px;
      color: #4D6173;
      font-size: 14px;
      h3 {
        font: {
          weight: bolder;
          size: 16px;
        }
      }
    }

  }
  .main__right {
    flex: 1;
    width: 200px;
    margin-right: 5%;
    .tags {
      width: 275px;
    }
  }
}

.footer {
  display: flex;
  padding: 50px 0 100px 200px;
  background: $white;
  .column__one,
  .column__two,
  .column__three,
  .column__four{
    min-width: 200px;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    li {
      padding: 5px 0 5px 0;
    }
  }
}

// Generic
.button {
  border: 1px solid #4d6172;
  padding: 10px;
  text-decoration: none;
  color: #4d6172;
  display: inline-flex;
  border-radius: 3px;

  &.button--alternative {
    color: $white;
    background: #4d6172;
  }
}

.tags {
  ul {
    list-style: none;
    font-size: 10px;
    margin: 0;
    padding: 0;
    li {
      display: inline-flex;
      border: 1px solid #4d6172;
      background: #4d6172;
      color: $white;
      border-radius: 15px;
      padding: 8px;
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }
}

article {
  margin-bottom: 40px;
  margin-top: 40px;
  img {
    width: 275px;
    border-radius: 3px;
  }
}
