@import "../../node_modules/normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "../colours";

* {
  -webkit-transition: all 1s;
  transition: all 1s;
}

body {
  font: {
    family: 'Lato', sans-serif;
    size: 16px;
  }
}

.home {
  display: flex;
  flex-direction: column;

  .projects {
    display: flex;
    flex-direction: row;
  }

  .project {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 1rem;
    border-radius: 3px;

    &:hover {
      transform: scale(0.8);
    }

    &.project__netflix {
      background: {
        color: $cod_gray;
        image: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg");
        repeat: no-repeat;
        size: 200px 200px;
        position: center center;
      }

      a {
        color: $white;
        text-decoration: none;
        overflow: hidden;
        margin: {
          top: 200px;
          left: 20px;
          right: 20px;
        }
      }
    }
  }
}
