@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "../colours";

* {
  -webkit-transition: all 1s;
  transition: all 1s;
}
html {
  height: 100vh;
}
body {
  min-height: 100vh;
}
.netflix {
  background:{
    color: $cod_gray;
  }
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;

  .navigation {
    background:{
      color: $cod_gray;
    }
    height: 68px;
    display: flex;
    justify-content: flex-start;
    color: $daisy_bush;
    padding: 0 60px;
    font: {
      family: 'Lato', sans-serif;
      size: 16px;
    }

    .navigation__menu {
      display: flex;
      align-items: center;

      .navigation__logo {
        width: 92.5px;
        height: 31px;
        display: inline-flex;
      }

      a {
        text-decoration: none;
      }
    }

  }


  .profiles {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .profiles__title {
      display: flex;
      justify-content: center;
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 25px;
      }
      margin: {
        left: 20px;
      };
    }

    .profiles_grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100vw;
      flex-direction: row;
      align-items: center; // Or if flex direction is set to column
    }

    .profiles__profile {
      display: flex;
      position: relative;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      width: 168px;
      height: 168px;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 16px;
      }
      border: 5px solid $mine_shaft;

      margin: {
        top: 20px;
        bottom: 40px;
        right: 20px;
        left: 20px;
      };

      padding: {
        top: 5px;
        bottom: 5px;
        left: 0;
        right: 5px
      }

      &:hover {
        cursor: pointer;
        border: 5px solid $white
      }

      .profile__title {
        width: 168px;
        text-align: center;
        color: $white;
        position: absolute;
        bottom: -30px;
        font: {
          family: 'Lato', sans-serif;
          size: 16px;
        }
      }
    }
  }

}
