body {
  font-family: 'PT Sans Caption',"Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  font-size: 3vh;
}
// Hero Component

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1em;
  box-sizing: border-box;
  color: white;
  background-size: cover;
  background: {
    repeat: no-repeat;
    position: center center;
  }

  .hero__logo {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    font-weight: bold;
  }

  .hero__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hero__title {
    max-width: 16em;
    font-size: 8vh;
    align-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 5em;
  }
}

// Article Cards

.teaser {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  color: #4E4E4F;

  .teaser__title {
    color: #5E2999;
    text-transform: uppercase;
  }

  .teaser__more {
    & a {
      color: #5E2999;
    }
  }
}

// posts

.post {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  //font-size: 2vh;

  .post__title {
    color: #5E2999;
  }
}


.flash{
  //color: #f2f;
  -webkit-animation: flash linear 3s infinite;
  animation: flash linear 3s infinite;
  text-align: center;
  margin-top: 10%;
}
@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}

// Footer
.footer {
  display: flex;
  font-size: 2vh;
  margin: 100px 0 30px 0;
  justify-content: center;
}
