@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "colours";

.flexbox {
  background-color: $cod_gray;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .menu-container {
    //border: 1px solid red;
    height: 68px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    color: $daisy_bush;
    padding: 0 60px;
    font: {
      family: 'Lato', sans-serif;
      size: 16px;
    }

    .menu {
      display: flex;
      align-items: center;
      //justify-content: space-between;
      width: 1000px;
      //padding: 20px;

      .logo {
        background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg");
        background-repeat: no-repeat;
        background-size: contain;
        vertical-align: center;
        width: 92.5px;
        height: 31px;
        display: inline-flex;
      }

      a {
        text-decoration: none;
      }
    }

  }


  .photo-grid-container {
    display: flex;
    justify-content: center;

    .photo-grid {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
      flex-direction: row;
      align-items: center; // Or if flex direction is set to column
    }

    .article {
      display: flex;
      align-content: center;
      flex-direction: column;
      justify-content: center;
      width: 168px;
      height: 168px;
      background-size: cover;
      background-repeat: no-repeat;
      color: $white;
      font: {
        family: 'Lato', sans-serif;
        size: 16px;
      }

      margin: {
        top: 20px;
        bottom: 20px;
        left: 5px;
        right: 33.6px;
      };

      padding: {
        top: 5px;
        bottom: 5px;
        left: 0px;
        right: 5px
      }

      .title,
      .teaser {
        text-align: center;
        border: 1px solid red;
      }

      &.article-one {
        background-image: url("https://occ-0-299-300.1.nflxso.net/art/c83fe/6c218aba13637fff1554e17c73c4e2481e6c83fe.png");
      }
      &.article-two {
        background-image: url("https://occ-0-299-300.1.nflxso.net/art/9b3ac/8794c6ddda9938b95beded514a5cd38b7019b3ac.png");
      }
      &.article-three {
        background-image: url("https://occ-0-299-300.1.nflxso.net/art/38a46/8933fd1cd7004960c16215c5fd33036b39b38a46.png");
      }
      &.article-four {
        background-image: url("https://occ-0-299-300.1.nflxso.net/art/0d282/eb648e0fd0b2676dbb7317310a48f9bdc2b0d282.png");
      }
      &.article-five {
        background-image: url("https://occ-0-299-300.1.nflxso.net/art/c0c0e/af353b54475c9667ac96f986de8003b72edc0c0e.png");
      }
    }
  }

}
